@import "./../../../node_modules/bootstrap/less/bootstrap.less";

@colorBlue: rgb(25, 59, 105);

.input-group .selectize-input:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .selectize-input:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

body, html {
  height: 100%;
}
body {
  min-height: 100%;
}
#report {
  body {
    padding-top: 100px;
  }
  .table-hours {
    margin-top: 30px;
    img {
      max-width: 32px;
    }
    .time {
      font-weight: bold;
    }

    .today {
      background-color: rgba(0,0,0,0.05);
    }
  }
}

#tracker {
  background: rgba(0, 0, 0, 0);
  .arrow-up {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid @colorBlue;
  }

  .tracker-body {
    border-radius: 5px;
    background: white;
    width: 400px;
    height: 590px;
    overflow: hidden;
  }
  .navbar-brand {
    color: white !important;
  }

  .bg-blue {
    background: @colorBlue;
  }
  .bd-blue {
    border-color: @colorBlue;
    border-left-color: @colorBlue;
    border-right-color: @colorBlue;
    border-top-color: @colorBlue;
    border-bottom-color: @colorBlue;
  }

  .color-blue {
    color: @colorBlue;
  }
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-top: -4px;
}
