<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Controle de Jornada</title>
  <script>window.$ = window.jQuery = require('./jquery.min.js');</script>
  <script src="vue.js"></script>
  <script src="https://unpkg.com/moment"></script>
  <script src="bundle.js"></script>
</head>

<body style="display: none;" id="report">
  <main id="app">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Controle de Jornada</a>
        </div>
        <div class="navbar-right">
          <button type="button" class="btn btn-default" id="logout" style="margin-top: 8px;">Sair</button>
        </div>
      </div>
    </nav>
    <div class="container">
      <form class="row" id="worklog-create">
        <div class="col-sm-2">
          <div class="form-group">
            <label for="" class="sr-only">Task</label>
            <input type="text" class="form-control" placeholder="Task" v-model="task" name="task">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="" class="sr-only">Data</label>
            <input type="date" class="form-control" placeholder="Data" v-model="date" name="date" v-bind:max="today">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="" class="sr-only">Hora</label>
            <input type="time" class="form-control" placeholder="Hora" v-model="time" name="time">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="" class="sr-only">Tempo gasto</label>
            <input type="text" class="form-control" placeholder="Tempo gasto" v-model="spent" name="spent">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Semana</span>
              <input type="number" min="1" max="52" class="form-control" placeholder="Semana" aria-describedby="basic-addon1" v-model="week" name="week">
            </div>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-primary" id="refresh">Atualizar</button>
        </div>
      </div>
      <table class="table table-striped table-hours">
        <thead>
          <tr>
            <th>Author</th>
            <th v-for="date in dates" v-bind:class="[ date == todayCmp.format('DD/MM') ? 'today' : '' ]">{{ date }}</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody v-if="users && users.length > 0">
          <tr v-for="user in users">
            <td><img v-bind:src="user.avatar"> {{ user.name }}</td>
            <td v-for="date in user.dates" class="time" v-bind:class="[ date.date == todayCmp.format('YYYY-MM-DD') ? 'today' : '' ]">
              {{ date.spent ? (date.spent / 3600).toFixed(2) : '' }}
            </td>
            <td>{{ (user.totalSpent / 3600).toFixed(2) }}</td>
          </tr>
        </tbody>
        <tbody v-if="!users || users.length === 0">
            <tr>
              <td v-bind:colspan="dates.length + 2" class="text-center">Carregando</td>
            </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Total</td>
            <td v-for="date in datesTotals" class="time" v-bind:class="[ date.date == todayCmp.format('YYYY-MM-DD') ? 'today' : '' ]">
              {{ date.total ? (date.total / 3600).toFixed(2) : '' }}
            </td>
          </tr>
        </tfoot>
      </table>
      <table class="table table-striped table-hours">
        <thead>
          <tr>
            <th>Issue</th>
            <th>Name</th>
            <th>Author</th>
            <th>Data</th>
            <th>Tempo</th>
          </tr>
        </thead>
        <tbody v-if="worklogs && worklogs.length > 0">
          <tr v-for="worklog in worklogs">
            <td><a v-bind:href="worklog.url" v-bind:title="worklog.issueName">{{ worklog.issue }}</a></td>
            <td>{{ worklog.issueName }}</td>
            <td>{{ worklog.author }}</td>
            <td>{{ worklog.wlDate }}</td>
            <td>{{ (worklog.timeSpentSeconds / 3600).toFixed(2) }}</td>
          </tr>
        </tbody>
        <tbody v-if="!worklogs || worklogs.length === 0">
            <tr>
              <td colspan="5" class="text-center">Carregando</td>
            </tr>
        </tbody>
      </table>
    </div>
  </main>
</body>
<script>
$(function() {
  var savedData = localStorage.getItem('jira-worklog-v1') || null;
  savedData = savedData ? JSON.parse(atob(savedData)) : null;
  if (!savedData || (savedData && (Math.abs(new Date() - new Date(savedData.lastLogin || 0)) / 86400000 / 3600000) > 8)) {
    window.location.href = '/';
    return;
  }
  console.log('Login time', (Math.abs(new Date() - new Date(savedData.lastLogin || 0)) / 86400000 / 3600000));
  function auth(authData) {
    $.ajax({
      cache: false,
      type: "POST",
      data: JSON.stringify(authData),
      dataType: 'json',
      url: `http://localhost:5000/auth`,
      contentType: 'application/json',
    })
    .done(function(data) {
      console.log('Login!', data)
      authData.lastLogin = new Date()
      localStorage.setItem('jira-worklog-v1', btoa(JSON.stringify(authData)));
    })
    .fail(function (jqXHR, textStatus, errorThrown ) {
      window.location.href = '/'
    })
  }
  auth(savedData, true)
  $('body').fadeIn();
  var today = moment();
  var startDate = moment().startOf('week');
  var endDate = moment().endOf('week');
  var dates = [];
  while(startDate.isBefore(endDate)) {
    dates.push(startDate.format('DD/MM'));
    startDate.add(1, 'day')
  }
  var app = new Vue({
    el: '#app',
    data: {
      week: today.week(),
      todayCmp: today,
      today: today.format('YYYY-MM-DD'),
      task: null,
      date: today.format('YYYY-MM-DD'),
      time: '10:00',
      spent: '1h',
      dates: dates,
      datesTotals: {},
      users: [ ],
      worklogs: []
    }
  })
  function refreshTable(data) {
    app.dates = []
    app.users = []
    app.datesTotals = {}
    app.worklogs = data.worklogs

    const week = app.week
    const start = moment().week(week || moment().week()).startOf('week')
    const end = moment().week(week || moment().week()).endOf('week')
    console.log(start, end)
    while (start.isBefore(end)) {
      app.dates.push(start.format('DD/MM/YYYY'))
      start.add(1, 'days')
    }
    let dates = {}
    let users = {}
    const reportCache = {}
    data.worklogs.forEach((wl) => {
      const worklogDate = moment(wl.wlDate).format('DD/MM/YYYY')
      const author = wl.author
      reportCache[author] = reportCache[author] || { name: author, totalSpent: 0, dates: {} }
      reportCache[author].dates[worklogDate] = reportCache[author].dates[worklogDate] || { spent: 0, issues: { } }
      reportCache[author].dates[worklogDate].issues[wl.issue] = reportCache[author].dates[worklogDate].issues[wl.issue] || 0
      reportCache[author].dates[worklogDate].issues[wl.issue] += wl.timeSpentSeconds
      reportCache[author].dates[worklogDate].spent += wl.timeSpentSeconds
      reportCache[author].totalSpent += wl.timeSpentSeconds
    })
    users = Object.keys(reportCache).sort((a, b) => a.localeCompare(b)).map((name) => reportCache[name])
    app.users = users.map((user) => {
      user.dates = app.dates.map((date) => {
        user.dates[date] = user.dates[date] || {}
        return { date, spent: user.dates[date].spent || null, issues: user.dates[date].issues || {} }
      })
      return user
    })
    console.log(app.users, app.dates)
    // var totals = Object.keys(data.dates).map((date) => { return { date, total: data.dates[date] } })
    // totals.push({ total: totals.reduce((prev, cur) => prev + cur.total, 0)})
    // app.datesTotals = totals
    // data.users.forEach(function(user, index) {
    //   Vue.set(app.users, index, user)
    // })
  }

  function updateReport(week, task) {
    week = app.week
    $.ajax({
      cache: false,
      type: "GET",
      url: `http://localhost:5000/report?${task ? `task=${task}` : ''}${week ? `week=${week}` : ''}`,
      contentType: 'application/json',
      success: function(data) {
        refreshTable(data)
      }
    });
  }

  var $form = $('#worklog-create')
  $form.submit(function(e) {
    e.preventDefault();
    var createData = $form.serializeArray();
    createData = createData.reduce(function(prev, cur) {
      prev[cur.name] = cur.value;
      return prev;
    }, {});
    var data = JSON.stringify({
      started: `${createData.date}T${createData.time}:00.000+0000`,
      timeSpent: createData.spent,
    })
    $.ajax({
      type: "POST",
      url: `http://localhost:5000/worklog/${createData.task}`,
      data: data,
      contentType: 'application/json',
      success: function(data) {
        updateReport(app.week)
      },
      error: function(a, b, c) {
        console.log(a, b, c)
        alert('Erro!' + a.responseText)
      }
    });
    return false;
  })
  updateReport(app.week)
  $('body').on('click', '#logout', function() {
    savedData.lastLogin = null
    localStorage.setItem('jira-worklog-v1', btoa(JSON.stringify(savedData)));
    window.location.href = '/';
  })
  $('body').on('click', '#refresh', function() {
    updateReport(app.week)
  })
})
</script>
</html>
